html, body{
  height: 100%;
  font-family: 'Inter', sans-serif;
  background: rgba(127, 129, 128, 1);
}

h1{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 5vw;
}

p{
  display: flex;
  justify-content: start;
  margin-right: auto;
  margin-left: 25%;
  margin-top: 7%;
  font-size: 5vw;
  color: white;
}
.toggle{
  --width: 15vw;
  --height: calc(var(--width) / 3);

  position: relative;
  display: flex;
  justify-content: center;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  border-radius: var(--height);
  cursor: pointer;
  margin-top: 1%;
  margin-left: auto;
  margin-right: 35%;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: rgb(192, 14, 14);
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked+.slider {
  background-color: rgb(24, 150, 24);
}

.toggle input:checked+.slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 90%;
  height: 100%;
  font-size: 2vw;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 1vw;
  color: #4d4d4d;
  opacity: 1;
  text-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 2vw;
  color: #ffffff;
  opacity: 0;
  text-shadow: 1vw 1vw 2vw rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
  opacity: 0;
}

.toggle input:checked~.labels::before {
  opacity: 1;
}

.Back{
  width: 30vw;
  height: 5vw;
  background-color: #FFC700;
  color: black;
  font-size: 2.5vw;
  border: none;
  border-radius: 3vw;
  cursor:pointer;
  margin: 1vw;
  margin-left: 33%;
  margin-top: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

/*Temeperature buttons page*/

.Temperature-page p{
  margin-left: 32vw;
  font-size: 3.5vw;
}

.container {
  width: 60%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type=range] {
  width: 100%;
  height: 10vw;
}

button {
  flex: 0 0 auto;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background: white;
  font-size: 6vw;
  border: 1vw solid black;
  cursor: pointer;
  -webkit-appearance: none;
  margin: 0 10px;
}

